@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

nav {
  @include flexbox.flexbox;
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 50px;
  margin: 0 auto;
  overflow: hidden;

  ul {
    @include flexbox.flexbox;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    border-top: 1px solid colors.$BLACK;

    li {
      align-items: center;
      justify-content: center;
      vertical-align: middle;

      a {
        display: inline-block;
        width: 145px;
        height: 35px;
        padding: 10px 0 7px;
        font-size: 14px;
        font-weight: 700;
        color: colors.$BLACK;
        text-align: center;
        text-decoration: none;
        letter-spacing: 0.5px;
        border: 1px solid colors.$BLACK;
        border-radius: 50px;
      }

      .isActive {
        color: colors.$BACKGROUND;
        background-color: colors.$BLACK;
      }
    }
  }
}
